a {
    color: inherit !important;
}
.header {
    height: 100dvh;
    background-image:linear-gradient(#5c4d42cc, #5c4d42cc), url(../image/bg-masthead.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header .head {
    font-size: 3.5rem;
}
hr {
    height: 0.2rem;
    width: 3.25rem;
    margin: 1.5rem auto;
    opacity: 1;
    border: none;
}
.fs-7 {
    font-size: 1.15rem;
}
.py-8 {
    padding: 8rem 0;
}
.bg-orange {
    background-color: #f4623a;
}
.color-orange {
    color: #f4623a;
}
main .img-fluid {
    height: 100%;
    width: 100%;
}
.bg-img {
    background-color: #f4623ae6;
}
main .cover {
    display: none;
}
main .link:hover .cover {
    display: flex;
}
main form .data {
    border: 1px solid #d8d9da;
    border-radius: 0.5rem;
    outline: none;
}
main form .data:focus-within {
    box-shadow: 
        2px 2px 0px 3px #f4623a,
        -2px -2px 0px 3px #f4623a,
        -2px 2px 0px 3px #f4623a,
        2px -2px 0px 3px #f4623a;
    padding: 1.5rem 1rem !important;
}
label {
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.form-container:focus-within .form-label {
    opacity: 1;
    margin: 0.4rem 1rem !important;
    background-color: #ffffff;
    font-weight: 700;
    color: #f4623a;
    padding: 0px 5px;
    border-radius: 5px;
    border: 5px solid #f4623a;
    animation: change-color 1s linear alternate-reverse infinite;
}
.form__img {
    background-image: url(../image/download.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center left;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.form__text {
    font-size: 0.8rem;
    margin-left: 1.1rem;
    margin-bottom: 0rem !important;
}
.form-container:focus-within .form__img {
    display: block !important;
}
@keyframes change-color {
    0% {
        box-shadow: 1px 1px 5px 10px #ffffff3c;
    }
    25% {
        box-shadow: 1px 1px 2px 5px #f4623a98;
    }
    50% {
        box-shadow: 1px 1px 0px 0px #f4623ace;
    }
    75% {
        box-shadow: 1px 1px 2px 5px #f4623a98;
    }
    100% {
        box-shadow: 1px 1px 5px 10px #ffffff3c;
    }
}
@media (min-width: 768px) {
    .header {
        height: 70vh;
    }
    .header .head {
        font-size: 2.2rem;
    }
    .fs-7 {
        font-size: 1rem
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .header {
        height: 40dvh;
    }
    .header .navbar-brand.fs-5 {
        font-size: 1rem !important;
    }
    .header .head {
        font-size: 1.3rem;
        
    }
    .fs-7 {
        font-size: 0.7rem;
    }
}